$black-color: #353535;
$grey-color: #d6d5d5;
$about-blocks-color: #ebebeb;
$plan-block-color: #171f23;
$plan-header-color: #0e1316;
$plan-description-color: #1f282c;
$plan-border-color: #171f23;
$orange-color: #f6744b;

$tablet-width : 900px;
$smartphone-width: 650px;
$min-phone-width: 360px;

